/* Navigation Bar Styling */
nav{
    position: sticky;
    top: 0;
    z-index: 1;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav {
    float: left;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

